<% content_for :header_tags do %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag 'modal', :plugin => 'users_performance' %>
<% end %>

<h2>Kullanıcıların Performansı</h2>

<%= pie_chart(@grouped_time_entries) %>

<hr>

<% if @grouped_time_entries.any? %>
  <%= form_tag({}) do %>
    <table class="list issues">
      <thead><tr>
      <th>Kullanıcı Adı</th>
      <th>Toplam Saat</th>
      <th>Yüzde</th>
      <th></th>
      </tr></thead>
      <tbody>
      <% @grouped_time_entries.each do |user, hours| %>
        <tr id="user-<%= user.as_json['id'] %>" class="hascontextmenu <%= cycle('odd', 'even') %>">
          <td class="userName"><%= link_to user.name, "##{user.name}" %></td>
          <td class="hours"><%= hours %></td>
          <td class="percent">% <%= ((hours / @total_time)*100).round %></td>
          <td>
            <!-- Pop-up Start -->
            <aside id="<%= user.name %>" class="modal">
              <div>
                <h2><%= user.name %></h2>
                <table class="list issues">
                  <thead><tr>
                    <th>İş</th>
                    <th>Saat</th>
                  </tr></thead>
                  <tbody>
                  <% @time_entries.each do |e| %>
                    <% if e.user_id  == user.as_json['id'] %>
                      <tr id="time_entry" class="hascontextmenu <%= cycle('odd', 'even') %>">
                        <%= "<td>".html_safe %>
                        <% if e.issue.to_s == "" %>
                          <%= "Silinmiş İş" %>
                        <% else %>
                          <%= link_to e.issue.to_s, issue_path(e.issue) %>
                        <% end %>
                        <%= "</td><td>#{ e.hours }</td>".html_safe %>
                      </tr>
                    <% end %>
                  <% end %>
                </table>
                <a href="#close" title="Kapat">Kapat</a>
              </div>
            </aside>
            <!-- Pop-up Fnish -->
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p class="nodata"><%= "Veri Yok" %></p>
<% end %>
